<div class="containerHistoria">
  <div class="navbar">
    <div class="logo" routerLink="/">
      <div class="letraO">O</div>
      <div class="letraG">G</div>
      <div class="letraU">U</div>
    </div>
    <div class="rutas">
      <div class="galaxias hvr-bob">
        <img src="assets/img/planet02navbar.png" routerLink="/galaxias" />
        <p routerLink="/galaxias">Galaxias</p>
      </div>
      <div class="hacemos hvr-bob">
        <img src="assets/img/planet01navbar.png" routerLink="/hacemos" />
        <p routerLink="/hacemos">
          Que <br />
          Hacemos
        </p>
      </div>
      <div class="historia hvr-bob">
        <img src="assets/img/planet00navbar.png" routerLink="/historia" />
        <p routerLink="/historia">Historia</p>
      </div>
    </div>
  </div>
  <div class="historiaContent">
    <div class="content01">
      <div class="containerContent01">HISTORIA</div>
    </div>
    <div class="content02">
      <div class="containerContent02">
        <p>
          El nombre de la Organización, acuñado por el mandatario intergaláctico
          de las 3.000 naciones de Yu, Tergera Norlas, se utilizó por primera
          vez el 1 de Kur del año trimestral 333, en plena quinta guerra
          intergálactica, cuando representantes de 14 Galaxias aprobaron la
          "Declaración rotundamente definitiva de la OGU", en virtud de la cual
          sus respectivos gobiernos se comprometían a seguir luchando juntos
          contra la fuerza infracósmica de la Galaxia Gonin.
        </p>
        <p>
          Debido a las facultades que le confiere la Carta y su singular
          carácter intergaláctico, la OGU puede tomar medidas sobre los
          problemas que enfrentan las distintas razas galácticas en el periodo
          trimestal vigente, tal como la paz y la seguridad, el cambio de
          protones plasmáticos, oxígeno y H7U de los ecosistemas, el desarrollo
          sostenible, los derechos inter-especies, el desarme, el terrorismo, en
          especial el Goniniano, las emergencias inter-especies y mucho más.
        </p>
        <p>
          La OGU (Organización de Galaxias Unidas) nació oficialmente el 36 de
          Omir del año trimestral 333, después de que la mayoría de las 14
          Galaxias Aliadas firmaran el meta-documento fundacional de la
          Organización, la Carta de la OGU. En la actualidad, más de 400.000
          Galaxias son miembros de la OGU.
        </p>
      </div>
    </div>
  </div>
</div>
